body{
    background-color:gray;
    font-family: 'Oswald', sans-serif;
}

.container{
    max-width: 1370px;
    margin: 0 auto;
    background-color: darkgray;
}

.userpic{
    height: 150px;
    width: auto;
}

nav{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 150px;
}

.userdetail{
    color: white;
    background-color: #00a7db;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 15px;
    flex-grow: 2;
}

.resume{
    background-color: #00c1ea;
}

.link{
    background-color: #94d401;
}

.contact{
    background-color: #61b100;
}

.contact:hover ion-icon {display: none}
.contact:hover::before {content: "Contact";}

.resume:hover {
    background-color: #fff;
}

.link:hover ion-icon {display: none}
.link:hover::before {content: "Link";}

.resume, .contact, .link{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 150px;
    height: auto;
}

.resume ion-icon, .contact ion-icon, .link ion-icon{
    font-size: 100px;
}

.introduction{
    max-width: 1370px;
    margin: 0 auto;
    color:white;
}

.exp{
    max-width: 1370px;
    margin: 65px auto;
    color:white;
}

.edu{
    max-width: 1370px;
    margin: 65px auto;
    color:white;
}

.stjohns{
    display: flex;
    align-items: center;
}

.work_exp{
    display: flex;
    align-items: center;
}

.title{
}